Options -Indexes -MultiViews

RewriteEngine On
RewriteRule ^board\/(.*)\.xml$ board.php?n=$1 [L]
RewriteRule ^(.*)\/newest\.xml$ board.php?n=$1 [L]
RewriteRule ^(.*)\.xml$ $1.php [L]

<FilesMatch "^(sid|password)$">
	Order allow,deny
	Deny from all
</FilesMatch>
