Options -Indexes -MultiViews

php_flag display_errors on

RewriteEngine On
RewriteRule ^thread\/(.*)\.xml$ thread.php?n=$1 [L]
RewriteRule ^board\/(.*)\.xml$ board.php?n=$1 [L]
RewriteRule ^(.*)\/newest\.xml$ board.php?n=$1 [L]
RewriteRule ^(.*)\.xml$ $1.php [L]
RewriteRule ^showdb$ showdb.php [L]
RewriteRule ^showdb/referer$ showdb.php?referer [L]

<FilesMatch "^(sid|password|mysql)$">
	Order allow,deny
	Deny from all
</FilesMatch>
